* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar{
  width: .7rem; 
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: #3688a3;
  border-radius: 5rem;
}

:root {
  font-size: 62.5%;

  --navy-blue-100: #065E7C;
}

body, input {
  font-family: 'Mulish', sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: white;
}

.page {
  width: 430px;
}

header {
  display: flex;
  padding: 1.2rem 2.8rem;
  gap: 2.5rem;
}

header, footer {
  background-color: var(--navy-blue-100);
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.logo {
  background-color: white;
  padding: .8rem;

  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  background-color: rgba(255, 255, 255, 0.20);
  color: white;
  border: none;
  
  width: 100%;
  padding: 1.2rem 1.6rem;
  border-radius: .8rem;
  font-size: 1.6rem;
  font-weight: 600;  
}

.input-wrapper input::placeholder {
  color: white;
}

.article-img {
  width: 434px;
  border-radius: 0 0 .5rem .5rem;
  filter: hue-rotate(7deg) contrast(101%) saturate(200%);
  display: block;
}

.article-header {
  margin: 3rem 0;
}

.article-header h1,
.related-article-container h2 {
  font-size: 2.4rem;
  line-height: 3.8rem;
  font-weight: 700;
  margin-bottom: .8rem;
}

.feedback-btns {
  display: flex;
  gap: 1.2rem;
}

.feedback-btns button {
  background-color: var(--navy-blue-100);
  padding: 1.2rem;
  border-radius: 50%;
  border: none;

  display: flex;
  place-items: center;
  color: white;
  cursor: pointer;
}

.article-text {
  width: 382px;
  margin: 0 auto;
  padding-bottom: 3rem;

  font-size: 1.6rem;
  line-height: 2.5rem;
  font-weight: 400;
}

.article-text p:first-child,
.article-text p:nth-child(2) {
  margin-bottom: 1.5rem;
}

.related-article img {
  width: 151px;
  object-fit: cover;
  border-radius: .5rem;
  transition: 300ms ease-out;
}

.related-article img:hover {
  transform: scale(1.1);
  filter: hue-rotate(7deg) contrast(101%) saturate(150%);
}

.related-article {
  display: flex;
  gap: 1.6rem;
}

.related-article-container {
  width: 380px;
  margin: 0 auto;
  padding-bottom: 4rem;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.details h3 {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 700;
  margin-bottom: 1.3rem;
}

.details p{
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
}

footer p {
  text-align: center;
  padding: 1.6rem;
  font-weight: 600;
  color: white;
}

@media (min-width: 450px){
  .page {
    width: 100%;
  }
  
  header {
    justify-content: center;
  }

  .input-wrapper input {
    width: 70vw;
  }

  .content {
    display: flex;
    margin: 0 5rem;
    gap: 3rem;
  }

  .article-img {
    width: 800px;
    margin: 4rem 0;
    border-radius: .8rem;
  }

  .article-header {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .article-text{
    width: 800px;
  }
  
  .related-article-container h2{
    margin-top: 4rem;
  }
}